.container{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* flex-wrap: wrap; */
}  
/* .item1{
    padding: 25px;
    background-color: aqua;
}
.item{
    padding: 25px;
    background-color: brown;
} */